@charset "UTF-8";
@import './utill.scss';

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $black;
}


.inner {
    width: 1100px;
    height: auto;
    margin: 0 auto;

    @include desktop{
        width: 1000px;
    }
    @include tablet{
        width: 840px;
    }
    @include mobile_xl{
        width: 600px;
    }
    @include mobile_l{
        width: 470px;
    }
    @include mobile_m{
        width: 100%;
    }
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80px;
    align-items: center;  

    h3,
    p {
        width: 90%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h3 {
        margin-bottom: 5px;
        font-weight: bold;
    }

    p {
        font-size: 14px;
        color: $darkGray;
    }
}

section {
    padding: 30px 0;
}

h2 {
    padding: 30px 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;

    @include mobile_xl{
        font-size: 35px;
    }
    @include mobile_xl{
        font-size: 30px;
    }
}

a {
    cursor: pointer;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: 30px auto 0;
    border: 1px solid $borderColor;
    background: $white;
    transition: .4s;

    @include mobile_xl{
        width: 160px;
        height: 40px;
    }

    // @keyframes moreBtn{
    //     0%{
    //         background: #fff;
    //     }
    //     20%{
    //         background: linear-gradient(45deg, #fff, #fff, #EC7D2C);

    //     }
    //     50%{
    //         background: linear-gradient(45deg, #fff, #EC7D2C);
    //     }
    //     100%{
    //         background: #EC7D2C;
    //     }
    // }

    // &:hover{
    //     animation: moreBtn 1s 1;

    // }

}

.popUp {
    display: none; //지우기
    position: fixed;
    width: 460px;
    height: 450px;
    bottom: 30px;
    left: 30px;
    border: 1px solid $borderColor;
    z-index: 999;
    background: $white;

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 10px;
        width: 100%;
        height: 414px;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 1px solid $borderColor;
    }

    li {
        width: 140px;
        height: 192px;
    }

    .closebtn {
        display: block;
        width: 10px;
        height: 10px;
        background: url('../img/delete.png') no-repeat center center / contain;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .popClose {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 35px;
        padding: 0 10px;
        box-sizing: border-box;
        background: #eee;

        label {
            font-size: 14px;
        }
    }
}

/* 왼쪽 히든 메뉴 */
.openLeft {
    display: none; //나중에 보이게 바꾸기
    position: absolute;
    width: 200px;
    height: 100vh;
    padding: 0 50px;
    background: $black;
    color: $white;
    z-index: 999;
    /*  확인필   */

    head {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
    }

    .leftNav {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .leftNavItem>a {
        display: block;
        padding: 8px 0;
    }
}

#header {
    position: fixed;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 99;

    @include desktop{
        height: 90px;       
    }
    @include tablet{
        height: 80px;       
    }
    @include mobile_xl{
        height: 75px;
    }
    @include mobile_l{
        height: 70px;   
    }
    @include mobile_s{
        height: 65px;   
    }

    .innerHeader {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 90%;
        height: 100%;
        box-sizing: border-box;

        @include mobile_l{
            width: 95%;
        }
        @include mobile_m{
            width: 90%;
        }

        .hideLogo{
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80px;
            height: 32px;
            transform: translate(-50%, -50%);

            @include mobile_m{
                display: block;
            }
            @include mobile_s{
                width: 75px;
                height: 30px;   
            }

            .logo {
                display: block;
                width: 100%;
                height: 100%;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url('../img/logo.png') no-repeat center center / contain;
                }
            }
        }
    }


    .leftHeader {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        width: 15%;
        height: 100%;

        @include mobile_xl{
            width: 20%;
        }
        @include mobile_l{
            width: 13%;
        }
    }

    .navBar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
        margin-right: 8px;
        cursor: pointer;

        @include desktop{
            width: 27px;
            height: 27px;
        }
        @include tablet{
            width: 25px;
            height: 23px;       
        }


        span {
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background: $black;

            @include tablet{
                height: 3px;      
            }
        }
    }

    .logo {
        width: 100px;
        height: 40px;

        @include desktop{
            width: 90px;
            height: 36px;
        }
        @include tablet{
            width: 80px;
            height: 32px;       
        }
        @include mobile_l{
            display: none;
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            background: url('../img/logo.png') no-repeat center center / contain;
        }
    }

    nav {
        width: 40%;
        @include tablet{
            width: 45%;
        }
        @include mobile_xl{
            width: 60%;     
        }
        @include mobile_l{
            width: 70%;
        }
        @include mobile_m{
            display: none;
        }

        ul {
            display: flex;
            justify-content: center;
            width: 100%
        }

        a {
            display: block;
            padding: 10px;
            font-size: 20px;
            font-weight: bold;

            @include desktop{
                font-size: 18px;
            }
            @include tablet{
                font-size: 17px;
            }
            @include mobile_l{
                padding: 7px;
                font-size: 16px;
            }
        }
    }

    .rightHeader {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 35%;
        
        @include mobile_xl{
            width: 15%;
        }
        @include mobile_l{
            width: 13%;
        }
        @include mobile_m{
            width: 30%;
        }
        .search {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 80%;

            @include mobile_xl{
                display: none;     
            }

            input {
                width: 90%;
                height: 40px;
                padding: 0 5px;
                margin-right: 15px;
                border: none;
                border-bottom: 2px solid $black;
                outline: none;
                font-size: 18px;
                background: none;

                @include desktop{
                    height: 35px;
                    font-size: 16px;
                }
                
            }

            .goSearch {
                width: 10%;
                height: 25px;
                margin-right: 7px;
                background: url('../img/search.png') no-repeat center center / contain;
                cursor: pointer;

            }
        }

        .myPageActive {
            display: flex;
            justify-content: end;
            align-items: center;
            width: 20%;
            height: auto;
            font-size: 18px;
            font-weight: bold;

            @include desktop{
                font-size: 16px;
            }
            @include mobile_xl{
                width: 100%;
            }
            @include mobile_l{
                font-size: 15px;
            }
        }
    }
}

main {
    box-shadow: 0 0 1px $black;

    .mainSlider {
        position: relative;
        width: 100%;
        height: 600px;
        padding: 0;
        box-sizing: border-box;

        @include desktop{
            height: 550px;
        }
        @include tablet{
            height: 500px;
        }
        @include mobile_xl{
            height: 450px;
        }
        @include mobile_l{
            height: 350px;
        }
        

        .s1Slider {
            width: 100%;

            .s1item {
                position: relative;
                height: 600px;
                
                @include desktop{
                    height: 550px;
                }
                @include tablet{
                    height: 500px;
                }
                @include mobile_xl{
                    height: 450px;
                }
                @include mobile_l{
                    height: 350px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .slick-dots {
                position: absolute;
                width: auto;
                left: 50%;
                bottom: 30px;
                transform: translate(-50%);

                li {
                    float: left;
                    width: 15px;
                    height: 15px;
                    background: $borderColor;
                    margin: 0 10px;
                    cursor: pointer;
                    border-radius: 50%;

                    @include tablet{
                        width: 13px;
                        height: 13px;
                        margin: 0 8px;
                    }
                    @include mobile_m{
                        width: 10px;
                        height: 10px;
                        margin: 0 6px;
                    }

                    button {
                        display: none;
                    }
                }
            }

            .slick-dots .slick-active {
                background: $mainColor;
            }
        }

        .prevBtn,
        .nextBtn {
            position: absolute;
            top: 50%;
            color: $white;
            font-size: 50px;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .prevBtn {
            left: 50px;
        }

        .nextBtn {
            right: 50px;
        }
    }

    .hot {
        .goTicketing {
            width: 200px;
            height: 40px;
            margin: 10px auto 0;
            font-size: 16px;
            color: $white;
            background: $mainColor;
            border: none;
            border-radius: 8px;
            cursor: pointer;

            @include desktop{
                width: 170px;
                height: 34px;
                margin-top: 15px;
                font-size: 14px;
            }
            @include tablet{
                width: 140px;
                height: 28px;
            }
            @include mobile_xl{
                width: 100px;
                height: 22px;
                margin-top: 3px;
                border-radius: 6px;
                font-size: 13px;
            }

        }

        .hotCon {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 640px;

            @include desktop{
                height: 585px;
            }
            @include tablet{
                height: 450px;
            }
            @include mobile_xl{
                height: 350px;
            }
            @include mobile_l{
                height: 520px;
            }

            img {
                width: 100%;
                height: 100%;
                background: contain;
            }

            .best1 {
                position: relative;
                width: 380px;
                height: 640px;

                @include desktop{
                    width: 345px;
                    height: 585px;
                }
                @include tablet{
                    width: 270px;
                    height: 450px;
                }
                @include mobile_xl{
                    width: 205px;
                    height: 350px;
                }
                @include mobile_l{
                    width: 215px;
                    height: 520px;
                }
                
                .b1ImgBox {
                    width: 100%;
                    height: 550px;
                    overflow: hidden;

                    @include desktop{
                        height: 495px; 
                    }
                    @include tablet{
                        height: 380px;
                    }
                    @include mobile_xl{
                        height: 310px;
                    }
                    @include mobile_l{
                        height: 345px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        transition: 0.5s;
                    }

                    .best1Bg {
                        position: absolute;
                        display: none;
                        width: 100%;
                        height: 550px;
                        top: 0;
                        left: 0;
                        background: rgba(0, 0, 0, 0.7);

                        @include desktop{
                            height: 495px;
                        }
                        @include tablet{
                            height: 380px;
                        }
                        @include mobile_xl{
                            height: 310px;
                        }
                        @include mobile_l{
                            height: 345px;
                        }

                        .goTicketing {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 200px;
                            height: 40px;
                            background: $mainColor;
                            color: $white;
                            border: none;
                            border-radius: 8px;

                            @include tablet{
                                width: 180px;
                                height: 36px;
                            }
                            @include mobile_xl{
                                width: 150px;
                                height: 30px;
                                font-size: 15px;
                            }
                        }


                    }

                    &:hover img {
                        transform: scale(1.1);
                    }

                    &:hover .best1Bg {
                        display: block;
                    }
                }

                .best1Txt {
                    width: 100%;
                    height: 90px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    row-gap: 7px;
                    border-bottom: 1px solid $borderColor;

                    @include desktop{
                        height: 90px;
                        row-gap: 0px;
                    }
                    @include tablet{
                        height: 70px;
                    }
                    @include mobile_xl{
                        height: 65px;
                    }
                    @include mobile_l{
                        height: 175px;
                    }

                    h3,
                    p {
                        width: 90%;
                        text-align: center;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    h3 {
                        margin-bottom: 4px;
                        font-weight: bold;

                        @include tablet{
                            font-size: 15px;
                        }
                        @include mobile_l{
                            font-size: 17px;
                            margin-bottom: 5px;
                        }
                    }

                    p {
                        font-size: 14px;
                        color: $darkGray;

                        @include tablet{
                            font-size: 13px;
                        }
                        @include mobile_l{
                            margin-bottom: 10px;
                        }
                    }

                    .goTicketing{
                        display: none;
                        width: 150px;
                        height: 35px;
                        border-radius: 10px;

                        @include mobile_l{
                            display: block;
                        }
                    }
                }
            }

            ul {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                row-gap: 20px;
                width: 700px;

                @include desktop{
                    width: 635px;
                    height: 585px;
                }
                @include tablet{
                    width: 560px;
                    height: 450px;
                    row-gap: 10px;
                }
                @include mobile_xl{
                    width: 390px;
                    height: 350px;
                    row-gap: 5px;
                }
                @include mobile_l{
                    width: 250px;
                    height: 520px;
                    
                }

                li {
                    width: 220px;
                    height: 340px;
                    float: left;

                    @include desktop{
                        width: 198.33px;
                        height: 282.5px;
                    }
                    @include tablet{
                        width: 180px;
                        height: 220px;
                    }
                    @include mobile_xl{
                        width: 126.66px;
                        height: 172.5px;
                    }
                    @include mobile_l{
                        width: 122.5px;
                        height: 170px;
                    }

                    div {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        border: 1px solid $borderColor;
                        box-sizing: border-box;
                        overflow: hidden;

                        img {
                            transition: 0.5s;
                        }

                        .bestTxt {
                            display: none;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            text-align: center;
                            color: $white;
                            background-color: rgb(0, 0, 0, 0.7);

                            h3 {
                                font-size: 18px;
                                font-weight: bold;
                                margin-bottom: 8px;

                                @include desktop{
                                    font-size: 16px;
                                    margin-bottom: 6px;
                                }
                                @include tablet{
                                    font-size: 15px;
                                }
                                @include mobile_xl{
                                    font-size: 13px;
                                }
                            }

                            p {
                                font-size: 14px;
                                line-height: 1.2rem;

                                @include desktop{
                                    font-size: 13px;
                                }
                                @include tablet{
                                    font-size: 12px;
                                }
                                @include mobile_xl{
                                    display: none;
                                }
                            }
                        }

                        &:hover .bestTxt {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }

                        &:hover img {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }

    .newCon ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 390px;

        li {
            width: 224px;
            height: 100%;

            a {
                display: block;
                width: 100%;
                height: 100%;
                border: 1px solid $borderColor;
                box-sizing: border-box;

                .newImg {
                    position: relative;

                    img {
                        width: 100%;
                        height: 310px;
                    }

                    .dDay {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        row-gap: 5px;
                        align-items: center;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 170px;
                        height: 100px;
                        border: 3px solid $mainColor;
                        background-color: rgb(0, 0, 0, 0.7);
                        color: $white;

                        span:first-of-type {
                            color: $mainColor;
                            font-size: 25px;
                            font-weight: bold;
                        }

                        span:last-of-type {
                            font-size: 20px;
                        }
                    }
                }

                .text {
                    p {
                        color: $mainColor;
                    }
                }
            }
        }
    }

    .ad {
        width: 100%;
        height: auto;

        .adSlider {
            position: relative;
            width: 100%;
            height: 400px;
            padding: 0;
            box-sizing: border-box;

            .aditem {
                position: relative;
                height: 400px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: translateY(-20px);
                }
            }

            .slick-dots {
                position: absolute;
                width: auto;
                left: 50%;
                bottom: 30px;
                transform: translate(-50%);

                li {
                    float: left;
                    width: 10px;
                    height: 10px;
                    background: $borderColor;
                    margin: 0 7px;
                    cursor: pointer;
                    border-radius: 50%;

                    button {
                        display: none;
                    }
                }
            }

            .slick-dots .slick-active {
                background: $mainColor;
            }
        }
    }

    .rank {
        .rankNav {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            li {
                a {
                    display: block;
                    margin: 0 5px;
                    padding: 10px;
                    font-size: 18px;
                    font-weight: bold;
                }

                .clickNav {
                    color: $mainColor;
                }
            }
        }

        .rankCon {
            .rankAll {
                position: relative;
                width: 1200px;
                height: 430px;

                .rankConUl {
                    position: absolute;
                    top: 0;
                    left: 0;
                    justify-content: space-between;
                    width: 100%;
                    height: 430px;

                    .rankLi {
                        width: 386px;
                        height: 100%;

                        a {
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 100%;
                            border: 1px solid $borderColor;
                            box-sizing: border-box;

                            .rankConImg {
                                position: relative;
                                width: 100%;
                                height: 350PX;
                                overflow: hidden;

                                img {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    width: 200px;
                                    height: 280px;
                                }
                            }

                            .rankConImg1,
                            .rankConImg2,
                            .rankConImg3 {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 110%;
                                height: 110%;
                                filter: blur(7px) brightness(70%);
                            }

                            .rankNum {
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                bottom: 60px;
                                left: 15px;
                                width: 50px;
                                height: 50px;
                                background: $mainColor;
                                color: $white;
                                font-size: 20px;
                                font-weight: bold;
                            }
                        }

                        a:hover .rankConImg1,
                        a:hover .rankConImg2,
                        a:hover .rankConImg3 {
                            width: 130%;
                            height: 130%;
                            transition: 0.7s;
                        }
                    }
                }

                .rankConMusical {
                    display: flex;

                    .rankConImg1 {
                        background: url(../img/rank_musical1.jpg) no-repeat center center / cover;
                    }

                    .rankConImg2 {
                        background: url(../img/rank_musical2.jpg) no-repeat center center / cover;
                    }

                    .rankConImg3 {
                        background: url(../img/rank_musical3.jpg) no-repeat center center / cover;
                    }
                }

                .rankConConcert {
                    display: none;

                    .rankConImg1 {
                        background: url(../img/rank_concert1.jpg) no-repeat center center / cover;
                    }

                    .rankConImg2 {
                        background: url(../img/rank_concert2.jpg) no-repeat center center / cover;
                    }

                    .rankConImg3 {
                        background: url(../img/rank_concert3.jpg) no-repeat center center / cover;
                    }
                }

                .rankConTheater {
                    display: none;

                    .rankConImg1 {
                        background: url(../img/rank_theater1.jpg) no-repeat center center / cover;
                    }

                    .rankConImg2 {
                        background: url(../img/rank_theater2.jpg) no-repeat center center / cover;
                    }

                    .rankConImg3 {
                        background: url(../img/rank_theater3.jpg) no-repeat center center / cover;
                    }
                }

                .rankConClassic {
                    display: none;

                    .rankConImg1 {
                        background: url(../img/rank_classic1.jpg) no-repeat center center / cover;
                    }

                    .rankConImg2 {
                        background: url(../img/rank_classic2.jpg) no-repeat center center / cover;
                    }

                    .rankConImg3 {
                        background: url(../img/rank_classic3.jpg) no-repeat center center / cover;
                    }
                }

                .rankConEx {
                    display: none;

                    .rankConImg1 {
                        background: url(../img/rank_ex1.jpg) no-repeat center center / cover;
                    }

                    .rankConImg2 {
                        background: url(../img/rank_ex2.jpg) no-repeat center center / cover;
                    }

                    .rankConImg3 {
                        background: url(../img/rank_ex3.jpg) no-repeat center center / cover;
                    }
                }

            }
        }
    }

    .interview {
        height: auto;

        .inner {
            position: relative;

            .prev,
            .next {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 50%;
                transform: translateY(-50%);
                width: 50px;
                height: 50px;
                font-size: 50px;
                cursor: pointer;
                z-index: 22;
            }

            .prev {
                left: -70px;
            }

            .next {
                right: -70px;
            }
        }

        .interviewSliderWrap {
            position: relative;
            width: 1200px;
            height: auto;
            margin: 0 auto;
            overflow: hidden;

            .interviewSlider {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                height: 630px;
                margin: 0 auto;

                .interviewitem {
                    flex: 1200px;
                    height: 100%;
                    transition: .5s;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }

    .review {
        width: 100%;
        height: auto;

        .reviewBoard {
            width: 100%;
            height: auto;
            padding: 10px;

            #reviewSelect {
                width: 300px;
                height: 25px;
                margin-bottom: 10px;
            }

            .inputBox {
                display: flex;
                width: 100%;
                height: auto;
                box-sizing: border-box;
                margin-bottom: 10px;

                .inputText {
                    display: block;
                    width: 100%;
                    height: 50px;
                    max-height: 60px;
                    margin-right: 10px;
                    padding: 0 10px;
                    border: 1px solid $borderColor;
                    box-sizing: border-box;
                    overflow: hidden;
                    outline: none;
                }

                .plusBtn {
                    width: 60px;
                    background: $white;
                    border: 1px solid $borderColor;
                    cursor: pointer;
                }
            }

            .listBox {

                .listBoxUl {
                    border-top: 1px solid $borderColor;

                    .newLi {
                        position: relative;
                        padding: 10px;
                        border-bottom: 1px solid $borderColor;

                        .proflie {
                            display: flex;
                            align-items: center;
                            width: 300px;
                            height: 30px;

                            .pro {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 25px;
                                height: 25px;
                                float: left;
                                margin-right: 10px;
                                border-radius: 50%;
                                border: 1px solid $borderColor;
                            }

                            .nickName {
                                float: left;
                            }
                        }

                        .likeBtn {
                            position: absolute;
                            top: 10px;
                            right: 10px;

                            .like,
                            .hate,
                            .clickBtn {
                                width: 70px;
                                height: 25px;
                                border: none;
                                border-radius: 3px;
                                cursor: pointer;
                            }

                            .like {
                                margin-right: 7px;
                            }

                            .clickBtn {
                                background: $mainColor;
                            }
                        }

                        .revTxt {
                            width: 1000px;
                            height: auto;
                            padding-left: 35px;
                            margin: 10px 0;
                            box-sizing: border-box;

                            .conName {
                                margin-bottom: 10px;
                                font-size: 12px;
                            }
                        }

                        .etc {
                            width: auto;
                            height: auto;
                            padding-left: 35px;
                            box-sizing: border-box;
                            font-size: 13px;

                            .date {
                                margin-right: 10px;
                            }

                            .declaration {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

    }

    .lastSec {
        width: 100%;

        .company {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            width: 100%;
            height: 130px;

            li {
                height: 100%;
            }

            .tel {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                width: 350px;

                h3 {
                    margin-bottom: 10px;
                    font-size: 35px;
                    font-weight: bold;
                    color: $mainColor;
                }

                p {
                    font-size: 14px;
                }

                span {
                    font-size: 14px;
                    color: $darkGray;
                }
            }

            .notice {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 650px;
                height: 100%;
                border-left: 1px solid $borderColor;
                border-right: 1px solid $borderColor;

                ul {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 500px;

                    li {
                        width: 100px;
                        height: auto;

                        a {
                            display: block;
                            width: 100%;
                            height: auto;
                            text-align: center;

                            .noticeImg {
                                width: 100%;
                                height: 60px;
                            }

                            span {
                                width: 100%;
                                height: 40px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            .social {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                width: 300px;

                .goSocial {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    width: 150px;

                    div {
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .appDown {
                    display: flex;
                    justify-content: space-between;

                    div {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}



footer {
    .footerNav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 600px;
            height: 50px;

            li {
                a {
                    font-size: 14px;
                }
            }
        }

        select {
            width: 200px;
            height: 40px;
            outline: none;
        }
    }
}