@charset "UTF-8";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #292929;
    /* 기본 text color */
}

.wrapper {}

.inner {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80px;
    align-items: center;

    h3,
    p{
        width: 90%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h3 {
        margin-bottom: 5px;
        font-weight: bold;
    }

    p {
        font-size: 14px;
        color: #aaa;
    }
}

section {
    padding: 30px 0;
}

h2 {
    padding: 30px 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

a {
    cursor: pointer;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: 30px auto 0;
    border: 1px solid #ccc;
    background: inherit;
}

.popUp {
    display: none;  //지우기
    position: fixed;
    width: 460px;
    height: 450px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #ccc;
    z-index: 999;
    background: #fff;

    ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    width: 100%;
    height: 414px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    }

    li{
        width: 140px;
        height: 192px;
    }

    .closebtn{
        display: block;
        width: 10px;
        height: 10px;
        background: url(../img/delete.png) no-repeat center center / contain;
    }

    img{
        width: 100%;
        height: 100%;
    }

    .popClose{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 35px;
        padding: 0 10px;
        box-sizing: border-box;
        background: #eee;
        
        label{
        font-size: 14px;
        }
    }
}


/* 왼쪽 히든 메뉴 */
.openLeft {
    display: none;  //나중에 보이게 바꾸기
    position: absolute;
    width: 200px;
    height: 100vh;
    padding: 0 50px;
    background: black;
    color: white;
    z-index: 999;
    /*  확인필   */

    header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
    }

    .leftNav {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .leftNavItem > li {}

    .leftNavItem > a {
        display: block;
        padding: 8px 0;
    }

    .mini {}
}


#header {
    position: fixed;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 50;

    .innerHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: inherit;
    }

    .leftHeader {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        height: 50px;
    }

    .navBar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
        cursor: pointer;
        
        span {
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background: #292929;
        }
    }

    .logo {
        width: 100px;
        height: 40px;
        a {
            display: block;
            width: 100%;
            height: 100%;
            background: url('../img/logo.png') no-repeat center center / contain;
        }
    }

    nav {
        width: 500px;

        ul {
            display: flex;
            width: 100%
        }
        
        a {
            display: block;
            padding: 10px;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .rightHeader {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 400px;

        .search {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            input {
                width: 300px;
                height: 40px;
                padding: 0 5px;
                margin-right: 15px;
                border: none;
                border-bottom: 2px solid #292929;
                outline: none;
                font-size: 18px;
                background: none;
            }
            
            .goSearch {
                width: 30px;
                height: 30px;
                margin-right: 15px;
                background: url('../img/search.png') no-repeat center center / contain;
                cursor: pointer;
            }
        }

        .myPage {
            width: 30px;
            height: 30px;
            background: url('../img/myPage.png') no-repeat center center / contain;
            cursor: pointer;
        }
    }
    
}



main {
    box-shadow: 0 0 1px #292929;

    .mainSlider {
        position: relative;
        width: 100%;
        height: 700px;
        padding: 0;
        box-sizing: border-box;

        .s1Slider {
            width: 100%;
            
            .s1item {
                position: relative;
                height: 700px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        
            .slick-dots {
                position: absolute;
                width: auto;
                left: 50%;
                bottom: 30px;
                transform: translate(-50%);

                li {
                    float: left;
                    width: 15px;
                    height: 15px;
                    background: gray;
                    margin: 0 10px;
                    cursor: pointer;
                    border-radius: 50%;
                    
                    button {
                        display: none;
                    }
                }
            }

            .slick-dots .slick-active {
                background: lightgray;
            }
        }

        .prevBtn,
        .nextBtn {
            position: absolute;
            top: 50%;
            color: white;
            font-size: 50px;
            transform: translateY(-50%);
            cursor: pointer;
        }
        
        .prevBtn {
            left: 50px;
        }
        
        .nextBtn {
            right: 50px;
        }
    }
    
    
    .hot {

        .hotCon {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 700px;

            img {
                width: 100%;
                height: 100%;
                background: contain;
            }

            .best1 {
                width: 420px;
                height: 700px;
            }
        }
        
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 20px;
            width: 760px;

            li {
                width: 240px;
                height: 340px;
                float: left;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #ddd;
                    box-sizing: border-box;
                }
            }
        }
    }
    
    .newCon ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 390px;

        li {
            width: 224px;
            height: 100%;

            a {
                display: block;
                width: 100%;
                height: 100%;
                border: 1px solid #ddd;
                box-sizing: border-box;

                img {
                    width: 100%;
                    height: 310px;
                }
                
                .newTxt{
                    width: 100%;
                    height: 80px;
                }
            }
        }
    }
    
    
    .ad {
        width: 100%;
        height: auto;

        .adSlider {
            position: relative;
            width: 100%;
            height: 400px;
            padding: 0;
            box-sizing: border-box;
                    
                .aditem {
                    position: relative;
                    height: 400px;
        
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transform: translateY(-20px);
                    }
                }
                
                .slick-dots {
                    position: absolute;
                    width: auto;
                    left: 50%;
                    bottom: 30px;
                    transform: translate(-50%);
    
                    li {
                        float: left;
                        width: 10px;
                        height: 10px;
                        background: gray;
                        margin: 0 7px;
                        cursor: pointer;
                        border-radius: 50%;
                        
                        button {
                            display: none;
                        }
                    }
                }
        
                .slick-dots .slick-active {
                    background: lightgray;
                }
            }


    }
    
    .rank {
        .rankNav {
            border: 1px solid blue;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            
            li {
                a {
                    display: block;
                    margin: 0 5px;
                    padding: 10px;
                    font-size: 17px;
                }
            }
        }

        .rankCon {
            .rankAll{
                position: relative;
                width: 1200px;
                height: 430px;

                ul {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: none;
                    justify-content: space-between;
                    width: 100%;
                    height: 430px;

                    .rankLi {
                        width: 386px;
                        height: 100%;

                        a {
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 100%;
                            border: 1px solid #ddd;
                            box-sizing: border-box;

                            .rankConImg{
                                position: relative;
                                width: 100%;
                                height: 350PX;
                                overflow: hidden;

                                img {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    width: 200px;
                                    height: 280px;
                                }
                            }
                            
                            .rankConImg1,
                            .rankConImg2,
                            .rankConImg3{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 110%;
                                height: 110%;
                                filter: blur(7px) brightness(70%);
                            }
                            
                            .rankNum {
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                bottom: 60px;
                                left: 15px;
                                width: 50px;
                                height: 50px;
                                background: orange;
                                color: #fff;
                                font-size: 20px;
                                font-weight: bold;
                            }
                        }

                        a:hover .rankConImg1,
                        a:hover .rankConImg2,
                        a:hover .rankConImg3{
                            width: 130%;
                            height: 130%;
                            transition: 0.7s;
                        }
                    }
                }

                .rankCon_musical{
                    .rankConImg1{
                        background: url(../img/rank_musical1.jpg) no-repeat center center / cover;
                    }
                    .rankConImg2{
                        background: url(../img/rank_musical2.jpg) no-repeat center center / cover;
                    }
                    .rankConImg3{
                        background: url(../img/rank_musical3.jpg) no-repeat center center / cover;
                    }
                } 
                
                .rankCon_concert{
                    .rankConImg1{
                        background: url(../img/rank_concert1.jpg) no-repeat center center / cover;
                    }
                    .rankConImg2{
                        background: url(../img/rank_concert2.jpg) no-repeat center center / cover;
                    }
                    .rankConImg3{
                        background: url(../img/rank_concert3.jpg) no-repeat center center / cover;
                    }
                }

                .rankCon_theater{
                    .rankConImg1{
                        background: url(../img/rank_theater1.jpg) no-repeat center center / cover;
                    }
                    .rankConImg2{
                        background: url(../img/rank_theater2.jpg) no-repeat center center / cover;
                    }
                    .rankConImg3{
                        background: url(../img/rank_theater3.jpg) no-repeat center center / cover;
                    }
                }

                .rankCon_classic{
                    .rankConImg1{
                        background: url(../img/rank_classic1.jpg) no-repeat center center / cover;
                    }
                    .rankConImg2{
                        background: url(../img/rank_classic2.jpg) no-repeat center center / cover;
                    }
                    .rankConImg3{
                        background: url(../img/rank_classic3.jpg) no-repeat center center / cover;
                    }
                }

                .rankCon_ex{
                    .rankConImg1{
                        background: url(../img/rank_ex1.jpg) no-repeat center center / cover;
                    }
                    .rankConImg2{
                        background: url(../img/rank_ex2.jpg) no-repeat center center / cover;
                    }
                    .rankConImg3{
                        background: url(../img/rank_ex3.jpg) no-repeat center center / cover;
                    }
                }

            }
        }
    }
    
    .interview {}
    
    .interviewSlider {
        width: 100%;
        height: 600px;
        background: #ccc;
    }
    
    .review {
        width: 100%;
        height: auto;

        .reviewBoard{
            width: 100%;
            height: auto;
            padding: 10px;

            #reviewSelect{
                width: 300px;
                height: 25px;
                margin-bottom: 10px;
            }
            
            .inputBox{
                display: flex;
                width: 100%;
                height: auto;
                box-sizing: border-box;
                margin-bottom: 10px;

                .inputText{
                    display: block;
                    width: 100%;
                    height: 50px;
                    max-height: 60px;
                    margin-right: 10px;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                    overflow: hidden;
                }

                .plusBtn{
                    width: 60px;
                    background: #fff;
                    border: 1px solid #ccc;
                    cursor: pointer;
                }
            }

            .listBox{

                .listBoxUl{
                    border-top: 1px solid #ccc;

                    .newLi{
                        position: relative;
                        padding: 10px;
                        border-bottom: 1px solid #ccc;

                        .proflie{
                            display: flex;
                            align-items: center;
                            width: 300px;
                            height: 30px;

                            .pro{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 25px;
                                height: 25px;
                                float: left;
                                margin-right: 10px;
                                border-radius: 50%;
                                border: 1px solid #bbb;
                            }

                            .nickName{
                                float: left;
                            }
                        }

                        .likeBtn{
                            position: absolute;
                            top: 10px;
                            right: 10px;

                            .like{
                                margin-right: 7px;
                                cursor: pointer;
                            }

                            .hate{
                                cursor: pointer;
                            }
                        }
                        
                        .revTxt{
                            width: 1000px;
                            height: auto;
                            padding-left: 35px;
                            margin: 10px 0;
                            box-sizing: border-box;

                            .conName{
                                margin-bottom: 5px;
                            }

                            .conrev{}
                        }

                        .etc{
                            width: auto;
                            height: auto;
                            padding-left: 35px;
                            box-sizing: border-box;
                            font-size: 13px;

                            .date{
                                margin-right: 10px;
                            }

                            .declaration{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        
    }
    
    
    .lastSec {
        width: 100%;
    }
    
    .company {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        width: 100%;
        height: 130px;
    }
    
    .company>li {
        height: 100%;
    }
    
    .company li.tel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 350px;
    }
    
    .tel h3 {
        margin-bottom: 10px;
        font-size: 35px;
        font-weight: bold;
        color: orange;
    }
    
    .tel p {
        font-size: 14px;
    }
    
    .tel span {
        font-size: 14px;
        color: #aaa;
    }
    
    .company li.notice {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 650px;
        height: 100%;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }
    
    .notice ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 500px;
    }
    
    .notice li {
        width: 100px;
        height: auto;
    }
    
    .notice a {
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
    }
    
    .noticeImg {
        width: 100%;
        height: 60px;
    }
    
    .notice a span {
        width: 100%;
        height: 40px;
        font-weight: bold;
    }
    
    .company li.social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        width: 300px;
    }
    
    .goSocial {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        width: 150px;
    }
    
    .goSocial div {}
    
    .goSocial a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .goSocial img {}
    
    
    .appDown {
        display: flex;
        justify-content: space-between;
    }
    
    .appDown div {
        width: 100%;
        height: 100%;
    
    }
    
    .appDown a {}
}


footer {}

.footerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 50px;
    border: 1px solid red
}

.footerNav li {}

.footerNav a {
    font-size: 14px;
}

.footerNav select {
    width: 200px;
    height: 40px;
    outline: none;
}

.footerNav option {}