@charset "UTF-8";
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #292929;
}

.wrapper {
  width: 100%;
}

.inner {
  width: 1100px;
  height: auto;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .inner {
    width: 950px;
  }
}
@media (max-width: 1023px) {
  .inner {
    width: 800px;
  }
}
@media (max-width: 860px) {
  .inner {
    width: 600px;
  }
}
@media (max-width: 650px) {
  .inner {
    width: 470px;
  }
}
@media (max-width: 500px) {
  .inner {
    width: 100%;
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80px;
  align-items: center;
}
.text h3,
.text p {
  width: 90%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text h3 {
  margin-bottom: 5px;
  font-weight: bold;
}
@media (max-width: 650px) {
  .text h3 {
    margin-bottom: 3px;
  }
}
.text p {
  font-size: 14px;
  color: #aaa;
}

section {
  padding: 30px 0;
}

h2 {
  padding: 30px 0;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
@media (max-width: 860px) {
  h2 {
    font-size: 35px;
  }
}
@media (max-width: 860px) {
  h2 {
    font-size: 30px;
  }
}

a {
  cursor: pointer;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 30px auto 0;
  border: 1px solid #ccc;
  background: #fff;
  transition: 0.4s;
}
@media (max-width: 860px) {
  .more {
    width: 160px;
    height: 40px;
  }
}

.popUp {
  display: none;
  position: fixed;
  width: 460px;
  height: 450px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #ccc;
  z-index: 999;
  background: #fff;
}
.popUp ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  width: 100%;
  height: 414px;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.popUp li {
  width: 140px;
  height: 192px;
}
.popUp .closebtn {
  display: block;
  width: 10px;
  height: 10px;
  background: url("../img/delete.png") no-repeat center center/contain;
}
.popUp img {
  width: 100%;
  height: 100%;
}
.popUp .popClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  box-sizing: border-box;
  background: #eee;
}
.popUp .popClose label {
  font-size: 14px;
}

/* 왼쪽 히든 메뉴 */
.openLeft {
  display: none;
  position: absolute;
  width: 200px;
  height: 100vh;
  padding: 0 50px;
  background: #292929;
  color: #fff;
  z-index: 999;
  /*  확인필   */
}
.openLeft head {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
}
.openLeft .leftNav {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.openLeft .leftNavItem > a {
  display: block;
  padding: 8px 0;
}

#header {
  position: fixed;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 99;
}
@media (max-width: 1200px) {
  #header {
    height: 90px;
  }
}
@media (max-width: 1023px) {
  #header {
    height: 80px;
  }
}
@media (max-width: 860px) {
  #header {
    height: 75px;
  }
}
@media (max-width: 650px) {
  #header {
    height: 70px;
  }
}
@media (max-width: 350px) {
  #header {
    height: 65px;
  }
}
#header .innerHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
  height: 100%;
  box-sizing: border-box;
}
@media (max-width: 650px) {
  #header .innerHeader {
    width: 95%;
  }
}
@media (max-width: 500px) {
  #header .innerHeader {
    width: 90%;
  }
}
#header .innerHeader .hideLogo {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 32px;
  transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
  #header .innerHeader .hideLogo {
    display: block;
  }
}
@media (max-width: 350px) {
  #header .innerHeader .hideLogo {
    width: 75px;
    height: 30px;
  }
}
#header .innerHeader .hideLogo .logo {
  display: block;
  width: 100%;
  height: 100%;
}
#header .innerHeader .hideLogo .logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/logo.png") no-repeat center center/contain;
}
#header .leftHeader {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 15%;
  height: 100%;
}
@media (max-width: 860px) {
  #header .leftHeader {
    width: 20%;
  }
}
@media (max-width: 650px) {
  #header .leftHeader {
    width: 13%;
  }
}
#header .navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  #header .navBar {
    width: 27px;
    height: 27px;
  }
}
@media (max-width: 1023px) {
  #header .navBar {
    width: 25px;
    height: 23px;
  }
}
#header .navBar span {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #292929;
}
@media (max-width: 1023px) {
  #header .navBar span {
    height: 3px;
  }
}
#header .logo {
  width: 100px;
  height: 40px;
}
@media (max-width: 1200px) {
  #header .logo {
    width: 90px;
    height: 36px;
  }
}
@media (max-width: 1023px) {
  #header .logo {
    width: 80px;
    height: 32px;
  }
}
@media (max-width: 650px) {
  #header .logo {
    display: none;
  }
}
#header .logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/logo.png") no-repeat center center/contain;
}
#header nav {
  width: 40%;
}
@media (max-width: 1023px) {
  #header nav {
    width: 45%;
  }
}
@media (max-width: 860px) {
  #header nav {
    width: 60%;
  }
}
@media (max-width: 650px) {
  #header nav {
    width: 70%;
  }
}
@media (max-width: 500px) {
  #header nav {
    display: none;
  }
}
#header nav ul {
  display: flex;
  justify-content: center;
  width: 100%;
}
#header nav a {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 1200px) {
  #header nav a {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  #header nav a {
    font-size: 17px;
  }
}
@media (max-width: 650px) {
  #header nav a {
    padding: 7px;
    font-size: 16px;
  }
}
#header .rightHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 35%;
}
@media (max-width: 860px) {
  #header .rightHeader {
    width: 15%;
  }
}
@media (max-width: 650px) {
  #header .rightHeader {
    width: 13%;
  }
}
@media (max-width: 500px) {
  #header .rightHeader {
    width: 30%;
  }
}
#header .rightHeader .search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}
@media (max-width: 860px) {
  #header .rightHeader .search {
    display: none;
  }
}
#header .rightHeader .search input {
  width: 90%;
  height: 40px;
  padding: 0 5px;
  margin-right: 15px;
  border: none;
  border-bottom: 2px solid #292929;
  outline: none;
  font-size: 18px;
  background: none;
}
@media (max-width: 1200px) {
  #header .rightHeader .search input {
    height: 35px;
    font-size: 16px;
  }
}
#header .rightHeader .search .goSearch {
  width: 10%;
  height: 25px;
  margin-right: 7px;
  background: url("../img/search.png") no-repeat center center/contain;
  cursor: pointer;
}
#header .rightHeader .myPageActive {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 20%;
  height: auto;
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 1200px) {
  #header .rightHeader .myPageActive {
    font-size: 16px;
  }
}
@media (max-width: 860px) {
  #header .rightHeader .myPageActive {
    width: 100%;
  }
}
@media (max-width: 650px) {
  #header .rightHeader .myPageActive {
    font-size: 15px;
  }
}

main {
  box-shadow: 0 0 1px #292929;
}
main .mainSlider {
  position: relative;
  width: 100%;
  height: 600px;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  main .mainSlider {
    height: 550px;
  }
}
@media (max-width: 1023px) {
  main .mainSlider {
    height: 500px;
  }
}
@media (max-width: 860px) {
  main .mainSlider {
    height: 450px;
  }
}
@media (max-width: 650px) {
  main .mainSlider {
    height: 350px;
  }
}
main .mainSlider .s1Slider {
  width: 100%;
}
main .mainSlider .s1Slider .s1item {
  position: relative;
  height: 600px;
}
@media (max-width: 1200px) {
  main .mainSlider .s1Slider .s1item {
    height: 550px;
  }
}
@media (max-width: 1023px) {
  main .mainSlider .s1Slider .s1item {
    height: 500px;
  }
}
@media (max-width: 860px) {
  main .mainSlider .s1Slider .s1item {
    height: 450px;
  }
}
@media (max-width: 650px) {
  main .mainSlider .s1Slider .s1item {
    height: 350px;
  }
}
main .mainSlider .s1Slider .s1item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .mainSlider .s1Slider .slick-dots {
  position: absolute;
  width: auto;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%);
}
main .mainSlider .s1Slider .slick-dots li {
  float: left;
  width: 15px;
  height: 15px;
  background: #ccc;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50%;
}
@media (max-width: 1023px) {
  main .mainSlider .s1Slider .slick-dots li {
    width: 13px;
    height: 13px;
    margin: 0 8px;
  }
}
@media (max-width: 650px) {
  main .mainSlider .s1Slider .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 6px;
  }
}
main .mainSlider .s1Slider .slick-dots li button {
  display: none;
}
main .mainSlider .s1Slider .slick-dots .slick-active {
  background: #EC7D2C;
}
main .mainSlider .prevBtn,
main .mainSlider .nextBtn {
  position: absolute;
  top: 50%;
  color: #fff;
  font-size: 50px;
  transform: translateY(-50%);
  cursor: pointer;
}
@media (max-width: 1023px) {
  main .mainSlider .prevBtn,
  main .mainSlider .nextBtn {
    font-size: 40px;
  }
}
@media (max-width: 650px) {
  main .mainSlider .prevBtn,
  main .mainSlider .nextBtn {
    font-size: 30px;
  }
}
main .mainSlider .prevBtn {
  left: 50px;
}
@media (max-width: 1200px) {
  main .mainSlider .prevBtn {
    left: 30px;
  }
}
@media (max-width: 1023px) {
  main .mainSlider .prevBtn {
    left: 20px;
  }
}
@media (max-width: 650px) {
  main .mainSlider .prevBtn {
    left: 10px;
  }
}
main .mainSlider .nextBtn {
  right: 50px;
}
@media (max-width: 1200px) {
  main .mainSlider .nextBtn {
    right: 30px;
  }
}
@media (max-width: 1023px) {
  main .mainSlider .nextBtn {
    right: 20px;
  }
}
@media (max-width: 650px) {
  main .mainSlider .nextBtn {
    right: 10px;
  }
}
main .hot .goTicketing {
  width: 200px;
  height: 40px;
  margin: 10px auto 0;
  font-size: 16px;
  color: #fff;
  background: #EC7D2C;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  main .hot .goTicketing {
    width: 170px;
    height: 34px;
    margin-top: 15px;
    font-size: 14px;
  }
}
@media (max-width: 1023px) {
  main .hot .goTicketing {
    width: 140px;
    height: 28px;
  }
}
@media (max-width: 860px) {
  main .hot .goTicketing {
    width: 100px;
    height: 22px;
    margin-top: 3px;
    border-radius: 6px;
    font-size: 13px;
  }
}
main .hot .hotCon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 640px;
}
@media (max-width: 1200px) {
  main .hot .hotCon {
    height: 585px;
  }
}
@media (max-width: 1023px) {
  main .hot .hotCon {
    height: 450px;
  }
}
@media (max-width: 860px) {
  main .hot .hotCon {
    height: 350px;
  }
}
@media (max-width: 650px) {
  main .hot .hotCon {
    height: 520px;
  }
}
main .hot .hotCon img {
  width: 100%;
  height: 100%;
  background: contain;
}
main .hot .hotCon .best1 {
  position: relative;
  width: 380px;
  height: 640px;
}
@media (max-width: 1200px) {
  main .hot .hotCon .best1 {
    width: 335px;
    height: 585px;
  }
}
@media (max-width: 1023px) {
  main .hot .hotCon .best1 {
    width: 250px;
    height: 450px;
  }
}
@media (max-width: 860px) {
  main .hot .hotCon .best1 {
    width: 205px;
    height: 350px;
  }
}
@media (max-width: 650px) {
  main .hot .hotCon .best1 {
    width: 215px;
    height: 520px;
  }
}
main .hot .hotCon .best1 .b1ImgBox {
  width: 100%;
  height: 550px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  main .hot .hotCon .best1 .b1ImgBox {
    height: 495px;
  }
}
@media (max-width: 1023px) {
  main .hot .hotCon .best1 .b1ImgBox {
    height: 380px;
  }
}
@media (max-width: 860px) {
  main .hot .hotCon .best1 .b1ImgBox {
    height: 300px;
  }
}
@media (max-width: 650px) {
  main .hot .hotCon .best1 .b1ImgBox {
    height: 345px;
  }
}
main .hot .hotCon .best1 .b1ImgBox img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
main .hot .hotCon .best1 .b1ImgBox .best1Bg {
  position: absolute;
  display: none;
  width: 100%;
  height: 550px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
@media (max-width: 1200px) {
  main .hot .hotCon .best1 .b1ImgBox .best1Bg {
    height: 495px;
  }
}
@media (max-width: 1023px) {
  main .hot .hotCon .best1 .b1ImgBox .best1Bg {
    height: 380px;
  }
}
@media (max-width: 860px) {
  main .hot .hotCon .best1 .b1ImgBox .best1Bg {
    height: 300px;
  }
}
@media (max-width: 650px) {
  main .hot .hotCon .best1 .b1ImgBox .best1Bg {
    height: 345px;
  }
}
main .hot .hotCon .best1 .b1ImgBox .best1Bg .goTicketing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 40px;
  background: #EC7D2C;
  color: #fff;
  border: none;
  border-radius: 8px;
}
@media (max-width: 1023px) {
  main .hot .hotCon .best1 .b1ImgBox .best1Bg .goTicketing {
    width: 180px;
    height: 36px;
  }
}
@media (max-width: 860px) {
  main .hot .hotCon .best1 .b1ImgBox .best1Bg .goTicketing {
    width: 150px;
    height: 30px;
    font-size: 15px;
  }
}
main .hot .hotCon .best1 .b1ImgBox:hover img {
  transform: scale(1.1);
}
main .hot .hotCon .best1 .b1ImgBox:hover .best1Bg {
  display: block;
}
main .hot .hotCon .best1 .best1Txt {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 7px;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 1200px) {
  main .hot .hotCon .best1 .best1Txt {
    height: 90px;
    row-gap: 0px;
  }
}
@media (max-width: 1023px) {
  main .hot .hotCon .best1 .best1Txt {
    height: 70px;
  }
}
@media (max-width: 860px) {
  main .hot .hotCon .best1 .best1Txt {
    height: 50px;
  }
}
@media (max-width: 650px) {
  main .hot .hotCon .best1 .best1Txt {
    height: 175px;
  }
}
main .hot .hotCon .best1 .best1Txt h3,
main .hot .hotCon .best1 .best1Txt p {
  width: 90%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .hot .hotCon .best1 .best1Txt h3 {
  margin-bottom: 4px;
  font-weight: bold;
}
@media (max-width: 1023px) {
  main .hot .hotCon .best1 .best1Txt h3 {
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  main .hot .hotCon .best1 .best1Txt h3 {
    font-size: 17px;
    margin-bottom: 5px;
  }
}
main .hot .hotCon .best1 .best1Txt p {
  font-size: 14px;
  color: #aaa;
}
@media (max-width: 1023px) {
  main .hot .hotCon .best1 .best1Txt p {
    font-size: 13px;
  }
}
@media (max-width: 650px) {
  main .hot .hotCon .best1 .best1Txt p {
    margin-bottom: 10px;
  }
}
main .hot .hotCon .best1 .best1Txt .goTicketing {
  display: none;
  width: 150px;
  height: 35px;
  border-radius: 10px;
}
@media (max-width: 650px) {
  main .hot .hotCon .best1 .best1Txt .goTicketing {
    display: block;
  }
}
main .hot .hotCon ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  width: 700px;
  height: 640px;
}
@media (max-width: 1200px) {
  main .hot .hotCon ul {
    width: 600px;
    height: 585px;
    row-gap: 15px;
  }
}
@media (max-width: 1023px) {
  main .hot .hotCon ul {
    width: 540px;
    height: 450px;
    row-gap: 10px;
  }
}
@media (max-width: 860px) {
  main .hot .hotCon ul {
    width: 390px;
    height: 350px;
    row-gap: 5px;
  }
}
@media (max-width: 650px) {
  main .hot .hotCon ul {
    width: 250px;
    height: 520px;
  }
}
main .hot .hotCon ul li {
  width: 220px;
  height: 310px;
  float: left;
}
@media (max-width: 1200px) {
  main .hot .hotCon ul li {
    width: 190px;
    height: 282.5px;
  }
}
@media (max-width: 1023px) {
  main .hot .hotCon ul li {
    width: 173.33px;
    height: 220px;
  }
}
@media (max-width: 860px) {
  main .hot .hotCon ul li {
    width: 126.66px;
    height: 172.5px;
  }
}
@media (max-width: 650px) {
  main .hot .hotCon ul li {
    width: 122.5px;
    height: 170px;
  }
}
main .hot .hotCon ul li div {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
}
main .hot .hotCon ul li div img {
  transition: 0.5s;
}
main .hot .hotCon ul li div .bestTxt {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
main .hot .hotCon ul li div .bestTxt h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
@media (max-width: 1200px) {
  main .hot .hotCon ul li div .bestTxt h3 {
    font-size: 16px;
    margin-bottom: 6px;
  }
}
@media (max-width: 1023px) {
  main .hot .hotCon ul li div .bestTxt h3 {
    font-size: 15px;
  }
}
@media (max-width: 860px) {
  main .hot .hotCon ul li div .bestTxt h3 {
    font-size: 13px;
  }
}
main .hot .hotCon ul li div .bestTxt p {
  font-size: 14px;
  line-height: 1.2rem;
}
@media (max-width: 1200px) {
  main .hot .hotCon ul li div .bestTxt p {
    font-size: 13px;
  }
}
@media (max-width: 1023px) {
  main .hot .hotCon ul li div .bestTxt p {
    font-size: 12px;
  }
}
@media (max-width: 860px) {
  main .hot .hotCon ul li div .bestTxt p {
    display: none;
  }
}
main .hot .hotCon ul li div:hover .bestTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .hot .hotCon ul li div:hover img {
  transform: scale(1.1);
}
main .newCon ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 330px;
}
@media (max-width: 1200px) {
  main .newCon ul {
    height: 280px;
  }
}
@media (max-width: 1023px) {
  main .newCon ul {
    height: 245px;
  }
}
@media (max-width: 860px) {
  main .newCon ul {
    height: 240px;
  }
}
@media (max-width: 650px) {
  main .newCon ul {
    height: 485px;
    flex-wrap: wrap;
    row-gap: 5px;
  }
}
main .newCon ul li {
  width: 204px;
  height: 100%;
}
main .newCon ul li:nth-of-type(6) {
  display: none;
}
@media (max-width: 650px) {
  main .newCon ul li:nth-of-type(6) {
    display: block;
  }
}
@media (max-width: 860px) {
  main .newCon ul li:nth-of-type(5) {
    display: none;
  }
}
@media (max-width: 650px) {
  main .newCon ul li:nth-of-type(5) {
    display: block;
  }
}
@media (max-width: 1200px) {
  main .newCon ul li {
    width: 178px;
  }
}
@media (max-width: 1023px) {
  main .newCon ul li {
    width: 152px;
  }
}
@media (max-width: 860px) {
  main .newCon ul li {
    width: 146.25px;
  }
}
@media (max-width: 650px) {
  main .newCon ul li {
    width: 153.33px;
    height: 240px;
  }
}
main .newCon ul li a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
main .newCon ul li a .newImg {
  position: relative;
}
main .newCon ul li a .newImg img {
  width: 100%;
  height: 260px;
}
@media (max-width: 1200px) {
  main .newCon ul li a .newImg img {
    height: 220px;
  }
}
@media (max-width: 1023px) {
  main .newCon ul li a .newImg img {
    height: 190px;
  }
}
@media (max-width: 860px) {
  main .newCon ul li a .newImg img {
    height: 185px;
  }
}
main .newCon ul li a .newImg .dDay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 100px;
  border: 3px solid #EC7D2C;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
@media (max-width: 1200px) {
  main .newCon ul li a .newImg .dDay {
    height: 90px;
  }
}
@media (max-width: 1023px) {
  main .newCon ul li a .newImg .dDay {
    height: 75px;
  }
}
@media (max-width: 860px) {
  main .newCon ul li a .newImg .dDay {
    height: 70px;
    border: 2px solid #EC7D2C;
  }
}
main .newCon ul li a .newImg .dDay span:first-of-type {
  color: #EC7D2C;
  font-size: 25px;
  font-weight: bold;
}
@media (max-width: 1200px) {
  main .newCon ul li a .newImg .dDay span:first-of-type {
    font-size: 23px;
  }
}
@media (max-width: 1023px) {
  main .newCon ul li a .newImg .dDay span:first-of-type {
    font-size: 21px;
  }
}
@media (max-width: 860px) {
  main .newCon ul li a .newImg .dDay span:first-of-type {
    font-size: 19px;
  }
}
main .newCon ul li a .newImg .dDay span:last-of-type {
  font-size: 20px;
}
@media (max-width: 1200px) {
  main .newCon ul li a .newImg .dDay span:last-of-type {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  main .newCon ul li a .newImg .dDay span:last-of-type {
    font-size: 17px;
  }
}
@media (max-width: 860px) {
  main .newCon ul li a .newImg .dDay span:last-of-type {
    font-size: 16px;
  }
}
main .newCon ul li a .text {
  width: 100%;
  height: 70px;
}
@media (max-width: 1200px) {
  main .newCon ul li a .text {
    height: 60px;
    font-size: 15px;
  }
}
@media (max-width: 1023px) {
  main .newCon ul li a .text {
    height: 55px;
    font-size: 14px;
  }
}
main .newCon ul li a .text p {
  color: #EC7D2C;
}
@media (max-width: 1200px) {
  main .newCon ul li a .text p {
    font-size: 14px;
  }
}
@media (max-width: 1023px) {
  main .newCon ul li a .text p {
    font-size: 12px;
  }
}
main .ad {
  width: 100%;
  height: auto;
}
main .ad .adSlider {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  main .ad .adSlider {
    height: 350px;
  }
}
@media (max-width: 1023px) {
  main .ad .adSlider {
    height: 300px;
  }
}
@media (max-width: 860px) {
  main .ad .adSlider {
    height: 250px;
  }
}
@media (max-width: 650px) {
  main .ad .adSlider {
    height: 200px;
  }
}
main .ad .adSlider .aditem {
  position: relative;
  height: 400px;
}
@media (max-width: 1200px) {
  main .ad .adSlider .aditem {
    height: 350px;
  }
}
@media (max-width: 1023px) {
  main .ad .adSlider .aditem {
    height: 300px;
  }
}
@media (max-width: 860px) {
  main .ad .adSlider .aditem {
    height: 250px;
  }
}
@media (max-width: 650px) {
  main .ad .adSlider .aditem {
    height: 200px;
  }
}
main .ad .adSlider .aditem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(-20px);
}
main .ad .adSlider .slick-dots {
  position: absolute;
  width: auto;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%);
}
main .ad .adSlider .slick-dots li {
  float: left;
  width: 10px;
  height: 10px;
  background: #ccc;
  margin: 0 7px;
  cursor: pointer;
  border-radius: 50%;
}
@media (max-width: 860px) {
  main .ad .adSlider .slick-dots li {
    width: 8px;
    height: 8px;
  }
}
@media (max-width: 650px) {
  main .ad .adSlider .slick-dots li {
    width: 7px;
    height: 7px;
  }
}
main .ad .adSlider .slick-dots li button {
  display: none;
}
main .ad .adSlider .slick-dots .slick-active {
  background: #EC7D2C;
}
main .rank .rankNav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
main .rank .rankNav li a {
  display: block;
  margin: 0 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
main .rank .rankNav li .clickNav {
  color: #EC7D2C;
}
main .rank .rankCon .rankAll {
  position: relative;
  width: 1200px;
  height: 430px;
}
main .rank .rankCon .rankAll .rankConUl {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
  height: 430px;
}
main .rank .rankCon .rankAll .rankConUl .rankLi {
  width: 386px;
  height: 100%;
}
main .rank .rankCon .rankAll .rankConUl .rankLi a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
main .rank .rankCon .rankAll .rankConUl .rankLi a .rankConImg {
  position: relative;
  width: 100%;
  height: 350PX;
  overflow: hidden;
}
main .rank .rankCon .rankAll .rankConUl .rankLi a .rankConImg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 280px;
}
main .rank .rankCon .rankAll .rankConUl .rankLi a .rankConImg1,
main .rank .rankCon .rankAll .rankConUl .rankLi a .rankConImg2,
main .rank .rankCon .rankAll .rankConUl .rankLi a .rankConImg3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 110%;
  filter: blur(7px) brightness(70%);
}
main .rank .rankCon .rankAll .rankConUl .rankLi a .rankNum {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 60px;
  left: 15px;
  width: 50px;
  height: 50px;
  background: #EC7D2C;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
main .rank .rankCon .rankAll .rankConUl .rankLi a:hover .rankConImg1,
main .rank .rankCon .rankAll .rankConUl .rankLi a:hover .rankConImg2,
main .rank .rankCon .rankAll .rankConUl .rankLi a:hover .rankConImg3 {
  width: 130%;
  height: 130%;
  transition: 0.7s;
}
main .rank .rankCon .rankAll .rankConMusical {
  display: flex;
}
main .rank .rankCon .rankAll .rankConMusical .rankConImg1 {
  background: url(../img/rank_musical1.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConMusical .rankConImg2 {
  background: url(../img/rank_musical2.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConMusical .rankConImg3 {
  background: url(../img/rank_musical3.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConConcert {
  display: none;
}
main .rank .rankCon .rankAll .rankConConcert .rankConImg1 {
  background: url(../img/rank_concert1.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConConcert .rankConImg2 {
  background: url(../img/rank_concert2.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConConcert .rankConImg3 {
  background: url(../img/rank_concert3.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConTheater {
  display: none;
}
main .rank .rankCon .rankAll .rankConTheater .rankConImg1 {
  background: url(../img/rank_theater1.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConTheater .rankConImg2 {
  background: url(../img/rank_theater2.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConTheater .rankConImg3 {
  background: url(../img/rank_theater3.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConClassic {
  display: none;
}
main .rank .rankCon .rankAll .rankConClassic .rankConImg1 {
  background: url(../img/rank_classic1.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConClassic .rankConImg2 {
  background: url(../img/rank_classic2.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConClassic .rankConImg3 {
  background: url(../img/rank_classic3.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConEx {
  display: none;
}
main .rank .rankCon .rankAll .rankConEx .rankConImg1 {
  background: url(../img/rank_ex1.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConEx .rankConImg2 {
  background: url(../img/rank_ex2.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConEx .rankConImg3 {
  background: url(../img/rank_ex3.jpg) no-repeat center center/cover;
}
main .interview {
  height: auto;
}
main .interview .inner {
  position: relative;
}
main .interview .inner .prev,
main .interview .inner .next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  font-size: 50px;
  cursor: pointer;
  z-index: 22;
}
main .interview .inner .prev {
  left: -70px;
}
main .interview .inner .next {
  right: -70px;
}
main .interview .interviewSliderWrap {
  position: relative;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
main .interview .interviewSliderWrap .interviewSlider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 630px;
  margin: 0 auto;
}
main .interview .interviewSliderWrap .interviewSlider .interviewitem {
  flex: 1200px;
  height: 100%;
  transition: 0.5s;
  cursor: pointer;
}
main .interview .interviewSliderWrap .interviewSlider .interviewitem img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .review {
  width: 100%;
  height: auto;
}
main .review .reviewBoard {
  width: 100%;
  height: auto;
  padding: 10px;
}
main .review .reviewBoard #reviewSelect {
  width: 300px;
  height: 25px;
  margin-bottom: 10px;
}
main .review .reviewBoard .inputBox {
  display: flex;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 10px;
}
main .review .reviewBoard .inputBox .inputText {
  display: block;
  width: 100%;
  height: 50px;
  max-height: 60px;
  margin-right: 10px;
  padding: 0 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
}
main .review .reviewBoard .inputBox .plusBtn {
  width: 60px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}
main .review .reviewBoard .listBox .listBoxUl {
  border-top: 1px solid #ccc;
}
main .review .reviewBoard .listBox .listBoxUl .newLi {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
main .review .reviewBoard .listBox .listBoxUl .newLi .proflie {
  display: flex;
  align-items: center;
  width: 300px;
  height: 30px;
}
main .review .reviewBoard .listBox .listBoxUl .newLi .proflie .pro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
main .review .reviewBoard .listBox .listBoxUl .newLi .proflie .nickName {
  float: left;
}
main .review .reviewBoard .listBox .listBoxUl .newLi .likeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}
main .review .reviewBoard .listBox .listBoxUl .newLi .likeBtn .like,
main .review .reviewBoard .listBox .listBoxUl .newLi .likeBtn .hate,
main .review .reviewBoard .listBox .listBoxUl .newLi .likeBtn .clickBtn {
  width: 70px;
  height: 25px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
main .review .reviewBoard .listBox .listBoxUl .newLi .likeBtn .like {
  margin-right: 7px;
}
main .review .reviewBoard .listBox .listBoxUl .newLi .likeBtn .clickBtn {
  background: #EC7D2C;
}
main .review .reviewBoard .listBox .listBoxUl .newLi .revTxt {
  width: 1000px;
  height: auto;
  padding-left: 35px;
  margin: 10px 0;
  box-sizing: border-box;
}
main .review .reviewBoard .listBox .listBoxUl .newLi .revTxt .conName {
  margin-bottom: 10px;
  font-size: 12px;
}
main .review .reviewBoard .listBox .listBoxUl .newLi .etc {
  width: auto;
  height: auto;
  padding-left: 35px;
  box-sizing: border-box;
  font-size: 13px;
}
main .review .reviewBoard .listBox .listBoxUl .newLi .etc .date {
  margin-right: 10px;
}
main .review .reviewBoard .listBox .listBoxUl .newLi .etc .declaration {
  cursor: pointer;
}
main .lastSec {
  width: 100%;
}
main .lastSec .company {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  height: 130px;
}
main .lastSec .company li {
  height: 100%;
}
main .lastSec .company .tel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 350px;
}
main .lastSec .company .tel h3 {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
  color: #EC7D2C;
}
main .lastSec .company .tel p {
  font-size: 14px;
}
main .lastSec .company .tel span {
  font-size: 14px;
  color: #aaa;
}
main .lastSec .company .notice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
main .lastSec .company .notice ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}
main .lastSec .company .notice ul li {
  width: 100px;
  height: auto;
}
main .lastSec .company .notice ul li a {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}
main .lastSec .company .notice ul li a .noticeImg {
  width: 100%;
  height: 60px;
}
main .lastSec .company .notice ul li a span {
  width: 100%;
  height: 40px;
  font-weight: bold;
}
main .lastSec .company .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 300px;
}
main .lastSec .company .social .goSocial {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 150px;
}
main .lastSec .company .social .goSocial div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
main .lastSec .company .social .appDown {
  display: flex;
  justify-content: space-between;
}
main .lastSec .company .social .appDown div {
  width: 100%;
  height: 100%;
}

footer .footerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footerNav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 50px;
}
footer .footerNav ul li a {
  font-size: 14px;
}
footer .footerNav select {
  width: 200px;
  height: 40px;
  outline: none;
}/*# sourceMappingURL=main.css.map */