@charset "UTF-8";
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #292929;
  /* 기본 text color */
}

.inner {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80px;
  align-items: center;
}
.text h3,
.text p {
  width: 90%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text h3 {
  margin-bottom: 5px;
  font-weight: bold;
}
.text p {
  font-size: 14px;
  color: #aaa;
}

section {
  padding: 30px 0;
}

h2 {
  padding: 30px 0;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

a {
  cursor: pointer;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 30px auto 0;
  border: 1px solid #ccc;
  background: inherit;
}

.popUp {
  display: none;
  position: fixed;
  width: 460px;
  height: 450px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #ccc;
  z-index: 999;
  background: #fff;
}
.popUp ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  width: 100%;
  height: 414px;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.popUp li {
  width: 140px;
  height: 192px;
}
.popUp .closebtn {
  display: block;
  width: 10px;
  height: 10px;
  background: url(../img/delete.png) no-repeat center center/contain;
}
.popUp img {
  width: 100%;
  height: 100%;
}
.popUp .popClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  box-sizing: border-box;
  background: #eee;
}
.popUp .popClose label {
  font-size: 14px;
}

/* 왼쪽 히든 메뉴 */
.openLeft {
  display: none;
  position: absolute;
  width: 200px;
  height: 100vh;
  padding: 0 50px;
  background: black;
  color: white;
  z-index: 999;
  /*  확인필   */
}
.openLeft header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
}
.openLeft .leftNav {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.openLeft .leftNavItem > a {
  display: block;
  padding: 8px 0;
}
#header {
  position: fixed;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 50;
}
#header .innerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: inherit;
}
#header .leftHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 50px;
}
#header .navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#header .navBar span {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #292929;
}
#header .logo {
  width: 100px;
  height: 40px;
}
#header .logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/logo.png") no-repeat center center/contain;
}
#header nav {
  width: 500px;
}
#header nav ul {
  display: flex;
  width: 100%;
}
#header nav a {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
#header .rightHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 450px;
}
#header .rightHeader .search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#header .rightHeader .search input {
  width: 300px;
  height: 40px;
  padding: 0 5px;
  margin-right: 15px;
  border: none;
  border-bottom: 2px solid #292929;
  outline: none;
  font-size: 18px;
  background: none;
}
#header .rightHeader .search .goSearch {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  background: url("../img/search.png") no-repeat center center/contain;
  cursor: pointer;
}
#header .rightHeader .myPageActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: auto;
  font-weight: bold;
}

main {
  box-shadow: 0 0 1px #292929;
}
main .mainSlider {
  position: relative;
  width: 100%;
  height: 700px;
  padding: 0;
  box-sizing: border-box;
}
main .mainSlider .s1Slider {
  width: 100%;
}
main .mainSlider .s1Slider .s1item {
  position: relative;
  height: 700px;
}
main .mainSlider .s1Slider .s1item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .mainSlider .s1Slider .slick-dots {
  position: absolute;
  width: auto;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%);
}
main .mainSlider .s1Slider .slick-dots li {
  float: left;
  width: 15px;
  height: 15px;
  background: gray;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50%;
}
main .mainSlider .s1Slider .slick-dots li button {
  display: none;
}
main .mainSlider .s1Slider .slick-dots .slick-active {
  background: lightgray;
}
main .mainSlider .prevBtn,
main .mainSlider .nextBtn {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 50px;
  transform: translateY(-50%);
  cursor: pointer;
}
main .mainSlider .prevBtn {
  left: 50px;
}
main .mainSlider .nextBtn {
  right: 50px;
}
main .hot .hotCon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 700px;
}
main .hot .hotCon img {
  width: 100%;
  height: 100%;
  background: contain;
}
main .hot .hotCon .best1 {
  width: 420px;
  height: 700px;
}
main .hot .hotCon .best1 img {
  width: 100%;
  height: 610PX;
}
main .hot .hotCon .best1 .best1Txt {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  border-bottom: 1px solid #ccc;
}
main .hot .hotCon .best1 .best1Txt h3,
main .hot .hotCon .best1 .best1Txt p {
  width: 90%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .hot .hotCon .best1 .best1Txt h3 {
  margin-bottom: 5px;
  font-weight: bold;
}
main .hot .hotCon .best1 .best1Txt p {
  font-size: 14px;
  color: #aaa;
}
main .hot ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  width: 760px;
}
main .hot ul li {
  width: 240px;
  height: 340px;
  float: left;
}
main .hot ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
  overflow: hidden;
}
main .hot ul li a img {
  transition: 0.5s;
}
main .hot ul li a .bestTxt {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color: #f1f1f1;
  background-color: rgba(0, 0, 0, 0.7);
}
main .hot ul li a .bestTxt h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
main .hot ul li a .bestTxt p {
  font-size: 14px;
  line-height: 1.2rem;
}
main .hot ul li a:hover .bestTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .hot ul li a:hover img {
  transform: scale(1.1);
}
main .newCon ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 390px;
}
main .newCon ul li {
  width: 224px;
  height: 100%;
}
main .newCon ul li a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
main .newCon ul li a .newImg {
  position: relative;
}
main .newCon ul li a .newImg img {
  width: 100%;
  height: 310px;
}
main .newCon ul li a .newImg .dDay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 100px;
  border: 3px solid #EC7D2C;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
}
main .newCon ul li a .newImg .dDay span:first-of-type {
  color: #EC7D2C;
  font-size: 25px;
  font-weight: bold;
}
main .newCon ul li a .newImg .dDay span:last-of-type {
  font-size: 20px;
}
main .newCon ul li a .text p {
  color: #EC7D2C;
}
main .ad {
  width: 100%;
  height: auto;
}
main .ad .adSlider {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 0;
  box-sizing: border-box;
}
main .ad .adSlider .aditem {
  position: relative;
  height: 400px;
}
main .ad .adSlider .aditem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(-20px);
}
main .ad .adSlider .slick-dots {
  position: absolute;
  width: auto;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%);
}
main .ad .adSlider .slick-dots li {
  float: left;
  width: 10px;
  height: 10px;
  background: gray;
  margin: 0 7px;
  cursor: pointer;
  border-radius: 50%;
}
main .ad .adSlider .slick-dots li button {
  display: none;
}
main .ad .adSlider .slick-dots .slick-active {
  background: lightgray;
}
main .rank .rankNav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
main .rank .rankNav li a {
  display: block;
  margin: 0 5px;
  padding: 10px;
  font-size: 17px;
}
main .rank .rankNav li .clickNav {
  color: #EC7D2C;
  font-weight: bold;
}
main .rank .rankCon .rankAll {
  position: relative;
  width: 1200px;
  height: 430px;
}
main .rank .rankCon .rankAll .rankConUl {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
  height: 430px;
}
main .rank .rankCon .rankAll .rankConUl .rankLi {
  width: 386px;
  height: 100%;
}
main .rank .rankCon .rankAll .rankConUl .rankLi a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
main .rank .rankCon .rankAll .rankConUl .rankLi a .rankConImg {
  position: relative;
  width: 100%;
  height: 350PX;
  overflow: hidden;
}
main .rank .rankCon .rankAll .rankConUl .rankLi a .rankConImg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 280px;
}
main .rank .rankCon .rankAll .rankConUl .rankLi a .rankConImg1,
main .rank .rankCon .rankAll .rankConUl .rankLi a .rankConImg2,
main .rank .rankCon .rankAll .rankConUl .rankLi a .rankConImg3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 110%;
  filter: blur(7px) brightness(70%);
}
main .rank .rankCon .rankAll .rankConUl .rankLi a .rankNum {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 60px;
  left: 15px;
  width: 50px;
  height: 50px;
  background: orange;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
main .rank .rankCon .rankAll .rankConUl .rankLi a:hover .rankConImg1,
main .rank .rankCon .rankAll .rankConUl .rankLi a:hover .rankConImg2,
main .rank .rankCon .rankAll .rankConUl .rankLi a:hover .rankConImg3 {
  width: 130%;
  height: 130%;
  transition: 0.7s;
}
main .rank .rankCon .rankAll .rankConMusical {
  display: flex;
}
main .rank .rankCon .rankAll .rankConMusical .rankConImg1 {
  background: url(../img/rank_musical1.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConMusical .rankConImg2 {
  background: url(../img/rank_musical2.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConMusical .rankConImg3 {
  background: url(../img/rank_musical3.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConConcert {
  display: none;
}
main .rank .rankCon .rankAll .rankConConcert .rankConImg1 {
  background: url(../img/rank_concert1.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConConcert .rankConImg2 {
  background: url(../img/rank_concert2.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConConcert .rankConImg3 {
  background: url(../img/rank_concert3.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConTheater {
  display: none;
}
main .rank .rankCon .rankAll .rankConTheater .rankConImg1 {
  background: url(../img/rank_theater1.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConTheater .rankConImg2 {
  background: url(../img/rank_theater2.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConTheater .rankConImg3 {
  background: url(../img/rank_theater3.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConClassic {
  display: none;
}
main .rank .rankCon .rankAll .rankConClassic .rankConImg1 {
  background: url(../img/rank_classic1.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConClassic .rankConImg2 {
  background: url(../img/rank_classic2.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConClassic .rankConImg3 {
  background: url(../img/rank_classic3.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConEx {
  display: none;
}
main .rank .rankCon .rankAll .rankConEx .rankConImg1 {
  background: url(../img/rank_ex1.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConEx .rankConImg2 {
  background: url(../img/rank_ex2.jpg) no-repeat center center/cover;
}
main .rank .rankCon .rankAll .rankConEx .rankConImg3 {
  background: url(../img/rank_ex3.jpg) no-repeat center center/cover;
}
main .interview {
  height: auto;
}
main .interview .interviewSlider {
  width: 100%;
  height: 450px;
  background: #ff9a9a;
  overflow: hidden;
}
main .interview .interviewSlider .interviewitem {
  width: 400px;
  height: 100%;
  float: left;
}
main .interview .interviewSlider .interviewitem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.review {
  width: 100%;
  height: auto;
}
.review .reviewBoard {
  width: 100%;
  height: auto;
  padding: 10px;
}
.review .reviewBoard #reviewSelect {
  width: 300px;
  height: 25px;
  margin-bottom: 10px;
}
.review .reviewBoard .inputBox {
  display: flex;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.review .reviewBoard .inputBox .inputText {
  display: block;
  width: 100%;
  height: 50px;
  max-height: 60px;
  margin-right: 10px;
  padding: 0 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
}
.review .reviewBoard .inputBox .plusBtn {
  width: 60px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}
.review .reviewBoard .listBox .listBoxUl {
  border-top: 1px solid #ccc;
}
.review .reviewBoard .listBox .listBoxUl .newLi {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.review .reviewBoard .listBox .listBoxUl .newLi .proflie {
  display: flex;
  align-items: center;
  width: 300px;
  height: 30px;
}
.review .reviewBoard .listBox .listBoxUl .newLi .proflie .pro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #bbb;
}
.review .reviewBoard .listBox .listBoxUl .newLi .proflie .nickName {
  float: left;
}
.review .reviewBoard .listBox .listBoxUl .newLi .likeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.review .reviewBoard .listBox .listBoxUl .newLi .likeBtn .like,
.review .reviewBoard .listBox .listBoxUl .newLi .likeBtn .hate,
.review .reviewBoard .listBox .listBoxUl .newLi .likeBtn .clickBtn {
  width: 70px;
  height: 25px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.review .reviewBoard .listBox .listBoxUl .newLi .likeBtn .like {
  margin-right: 7px;
}
.review .reviewBoard .listBox .listBoxUl .newLi .likeBtn .clickBtn {
  background: #ff9a9a;
}
.review .reviewBoard .listBox .listBoxUl .newLi .revTxt {
  width: 1000px;
  height: auto;
  padding-left: 35px;
  margin: 10px 0;
  box-sizing: border-box;
}
.review .reviewBoard .listBox .listBoxUl .newLi .revTxt .conName {
  margin-bottom: 10px;
  font-size: 12px;
}
.review .reviewBoard .listBox .listBoxUl .newLi .etc {
  width: auto;
  height: auto;
  padding-left: 35px;
  box-sizing: border-box;
  font-size: 13px;
}
.review .reviewBoard .listBox .listBoxUl .newLi .etc .date {
  margin-right: 10px;
}
.review .reviewBoard .listBox .listBoxUl .newLi .etc .declaration {
  cursor: pointer;
}

.lastSec {
  width: 100%;
}
.lastSec .company {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  height: 130px;
}
.lastSec .company li {
  height: 100%;
}
.lastSec .company .tel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 350px;
}
.lastSec .company .tel h3 {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
  color: orange;
}
.lastSec .company .tel p {
  font-size: 14px;
}
.lastSec .company .tel span {
  font-size: 14px;
  color: #aaa;
}
.lastSec .company .notice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.lastSec .company .notice ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}
.lastSec .company .notice ul li {
  width: 100px;
  height: auto;
}
.lastSec .company .notice ul li a {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}
.lastSec .company .notice ul li a .noticeImg {
  width: 100%;
  height: 60px;
}
.lastSec .company .notice ul li a span {
  width: 100%;
  height: 40px;
  font-weight: bold;
}
.lastSec .company .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 300px;
}
.lastSec .company .social .goSocial {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 150px;
}
.lastSec .company .social .goSocial div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.lastSec .company .social .appDown {
  display: flex;
  justify-content: space-between;
}
.lastSec .company .social .appDown div {
  width: 100%;
  height: 100%;
}
footer .footerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footerNav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 50px;
}
footer .footerNav ul li a {
  font-size: 14px;
}
footer .footerNav select {
  width: 200px;
  height: 40px;
  outline: none;
}/*# sourceMappingURL=main.css.map */