$mainColor : #EC7D2C;
$black : #292929;
$white : #fff;
$borderColor : #ccc;
$darkGray : #aaa;

//반응형 화면 크기
$mobile_s: 350px;
$mobile_m: 500px;
$mobile_l: 650px;
$mobile_xl: 860px;
$tablet: 1023px;
$desktop: 1200px;
$pc: 1201px;

//화면 크기 350px 이하
@mixin mobile_s{
  @media (max-width: $mobile_s){
    @content;
  }
}

//화면 크기 ~ 500px
@mixin mobile_m{
    @media (max-width: $mobile_m){
      @content;
    }
  }

  //화면 크기 ~ 650px
  @mixin mobile_l{
    @media (max-width: $mobile_l){
      @content;
    }
  }

  //화면 크기 ~ 860px
  @mixin mobile_xl{
    @media (max-width: $mobile_xl){
      @content;
    }
  }

//화면 크기 ~ 1023px
@mixin tablet{
  @media (max-width: $tablet){
    @content;
  }
}

//화면 크기 ~ 1200px
@mixin desktop{
  @media (max-width: $desktop){
    @content;
  }
}

//화면 크기 1201px 이상
@mixin pc{
  @media (min-width: $pc){
    @content;
  }
}



